body,html {
  padding: 0 !important;
  margin: 0 !important;
}
header {
	color: #fff !important;
}
.main_content{
  margin: 10px;
	width: 75% !important;
}
#main_content {
  margin: 0 auto;
}
.right_bar {
	width: 22% !important;
	height: 100% !important;
	position: fixed;   
	right: 0;
  overflow-y:scroll;
  overflow-x: hidden;
  padding: 10px;
	background: #90CAF9;
}
.right_bar select, .right_bar input {
  margin-top: 5px;
  width: 150px;
  height: 10px;
}
#map {
  margin-top: 50px;
    height:40%;
}

.div_nav {
  min-height: 50px;
}
.div_nav div {
  margin: 0 auto;
}
.div_nav a {
  background: #00BCD4;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
}
.button {
    width : 200px;
  color: #900;
  font-weight: bold;
  font-size: 500%;
  text-transform: uppercase;
}
.mapbutton {
    width : 150px;
  color: #900;
  font-weight: bold;
  font-size: 500%;
  text-transform: uppercase;
}

