<!DOCTYPE html>
<html>
<head>
     {% load staticfiles %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      
      <link rel="shortcut icon" type="image/x-icon" href="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico">
      <link rel="mask-icon" type="" href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111">
      <title>Favorit Taxi </title>
      
      <link rel="stylesheet" type="text/css" href="{% static 'css/framework.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/material.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

      <script>
      window.console = window.console || function(t) {};
    </script>

      
      
      <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
      </script>

      <script type="text/javascript" src="{% static 'js/material.min.js' %}"></script>
</head>

<body translate="no"  >

<div class="mdl-layout mdl-js-layout">

<header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Favorit Taxi TELEGRAM BOT</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{% url 'taxibot:callList' %}">Новые</a>
        <a class="mdl-navigation__link" href="{% url 'taxibot:calls_with_car' %}">Ожидание ответа</a>
          <a class="mdl-navigation__link" href="{% url 'taxibot:accepted' %}"><font color="#f0f8ff">Принятые</font></a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title mainText">Favorit Taxi TELEGRAM BOT</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{% url 'taxibot:callList' %}">Новые</a>
        <a class="mdl-navigation__link" href="{% url 'taxibot:calls_with_car' %}">Ожидание ответа</a>
        <a class="mdl-navigation__link" href="{% url 'taxibot:accepted' %}">Принятые</a>
    </nav>
  </div>

   <main class="mdl-layout__content">
    <div class="page-content">
  <form action="{% url 'taxibot:send_arrived' %}" method="post">
      <div class="right_bar">
      {% csrf_token %}

      <input class="button" type="submit" value="Водитель прибыл" >
    <div id="map"></div>

  </div>


  <div class="main_content">



  <table class="responstable">
 
  <tbody><tr>
      <th>ID</th>
      <th>время</th>
      <th> тип</th>
      <th>Адресс</th>
      <th>Номер Тел.</th>
      <th>коментарии</th>
      <th>машина</th>
      <th>номер</th>
      <th>время прибытия</th>
      <th>статус</th>
      <th>выбрать</th>
      </tr>
      {% for call in call_list %}
      <tr>
        <td>{{ call.call_id }}</td>
        <td>{{ call.call_time }}</td>
        <td>{{ call.type }}</td>
        <td>{% if call.IsMap %}
            {{call.longitude}}-{{ call.latitude }}
            {% endif %}
            {% if not call.IsMap %}
                {{ call.address }}
            {% endif %}
        </td>
        <td>{{ call.number}}</td>
        <td>{{ call.details }}</td>
        {% for car in call.car_set.all %}
            {% if  forloop.first %}
             <td>{{ car.car_type }} </td>
             <td>{{ car.car_number }} </td>
             <td>{{ car.car_time }} минут</td>
            {% endif %}
         {% endfor %}

         {% if call.status == "accepted_cancel" %}
             <td><font color="red">отменено</font></td>
         {% endif %}
        {% if call.status == "accepted" %}
            <td><font color="green">в пути</font></td>
        {% endif %}
        {% if call.status == "arrived" %}
            <td><font color="green">прибыл</font></td>
        {% endif %}
        <td>
            <input type="radio" name = "calls[]"  value="{{ call.call_id }}">
         </td>
      </tr>

    {% endfor %}

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>

    </tbody>
    </table>
   </form>

  </div>  
</div>
  </main>
</div>

    <script type="text/javascript">
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 41.311701, lng: 69.278934},
          zoom: 15
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg2dnWZ9CfzW39z8Gwy4IbhspCS-4mOYM&callback=initMap">
    </script>

 </body>
 </html>